body {
    background-color: #f8f9fa; /* Fondo claro para un contraste suave */
}
.header-with-line {
    border-bottom: 2px solid #0b3b59;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.content {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 800px; /* Ancho máximo */
}
.hidden-content {
    display: none; /* Ocultar contenido adicional inicialmente */
}
.row {
    display: flex;
    align-items: flex-start;
}
.image-container {
    flex: 1; /* Permite que el contenedor de la imagen ocupe el espacio necesario */
    text-align: center; /* Centrar imagen */
    margin-right: 20px; /* Espacio entre imagen y texto */
}
.text-container {
    flex: 2; /* Permite que el contenedor de texto ocupe el doble del espacio que la imagen */
}
#backToTop {
position: fixed;
bottom: 30px; /* Distancia desde el fondo */
right: 30px; /* Distancia desde la derecha */
display: none; /* Ocultar el botón por defecto */
background-color: #007BFF; /* Color de fondo azul */
color: white; /* Color del texto */
border: none; /* Sin borde */
border-radius: 50%; /* Bordes redondeados */
width: 50px; /* Ancho del botón */
height: 50px; /* Altura del botón */
font-size: 24px; /* Tamaño de la fuente */
cursor: pointer; /* Cambia el cursor al pasar el ratón */
transition: background-color 0.3s; /* Transición suave */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

#backToTop:hover {
background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
/* Estilos para las imágenes de los cards */
.card-icon img {
    width: 120px; /* Ancho estándar de los íconos */
    height: 120px; /* Altura estándar de los íconos */
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}

a{
    color: black;
}
